target/
*.class
*.jar
*.war
*.log

# IDE - NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# IDE - IntelliJ
.idea/
*.iml
*.iws

# IDE - VS Code / Eclipse
.vscode/
.settings/
.project
.classpath
.factorypath

# OS
.DS_Store
Thumbs.db
